{% extends "layouts/base.html" %}
{% load i18n %}

{% block title %}Worldrat, {% trans "Urban Exploration" %} |
{{ user.get_full_name }}{% endblock %}

{% block head %}
  <meta name="description" content="{{ wr_user.get_full_name }}'s followers">
{% endblock %}

{% block content %}
{% include "profile/sidebar_profile.html" %}

<div class="span9">
<h1>{% trans "Followers" %}</h1>
<ol class="user-list">
{% for f in followers_checked %}
<li>
<img src="http://placehold.it/80x80" alt="{{ f.follower.user.username }}"/>
<div class="user-info">
<h2><a href="{% url show_user_profile f.follower.user.id %}">{{ f.follower.user.get_full_name }}</a></h2>
<p>{{ f.follower.bio }}</p>

{% if f.is_following %}
<p>{% trans "Already following" %} {{ f.follower.user.get_full_name }}</p>
{% else %}
<form action="{% url user_profile.views.show_profile f.follower.user.id %}" method="post">
{% csrf_token %}
<input type="submit" value="Follow {{ f.follower.user.username }}"/>
</form>
{% endif %}
</div><!-- .user-info -->
</li>
{% endfor %}
</ol>
</div><!-- .span9 -->
{% endblock %}
