{% extends "layouts/base.html" %}
{% load i18n %}
{% block title %}Worldrat | {% trans "Register" %}{% endblock %}

{% block head %}
<meta name="description" content="Worldrat registration">
{% endblock %}

{% block content %}
<h1 class="title">{% autoescape off %}{% trans "You big rat, you. Leave your company info to join <strong>worldrat</strong>, corporate style." %}{% endautoescape %}</h1>

{% comment %}
<div class="sns-registration-form log-reg-form">
<img src="{{ STATIC_URL }}/images/facebook-login.gif">
<img src="{{ STATIC_URL }}/images/twitter-login.png">
</div>
{% endcomment %}

<form class="log-reg-form" action="{% url registration_register_company %}" method="post">
{% csrf_token %}

<div style="margin-bottom: 25px; border-bottom: 1px solid #ddd;">
{% for field in form %}

{{ field.errors }}
{{ field.label }}
{{ field }}

{% if forloop.counter == 7 %}
</div>
<div>
{% endif %}
{% endfor %}
</div>

{{ form.non_field_errors }}
<fieldset>
<input class="btn btn-primary" type="submit" value="Submit">
</fieldset>
</form>
{% endblock %}
