{% extends "layouts/base.html" %}
{% load i18n %}

{% block title %}Worldrat | {% trans "Change password" %}{% endblock %}

{% block content %}
{% include "profile/sidebar_profile.html" %}
<h1>{% trans "Change Password" %}</h1>
<div>
<form class="log-reg-form" action="{% url account_settings %}" method="post">
{% csrf_token %}
{% for field in form %}
<div class="fieldWrapper">
{{ field.errors }}
{{ field.label_tag }} {{ field }}
</div>
{% endfor %}
<input class="btn btn-primary" type="submit" value="{% trans "Submit" %}" />
</form>
</div>
{% endblock %}
