{% extends "layouts/base.html" %}
{% load i18n %}


{% block title %} Worldrat | {% trans "Forgot your password?" %} {% endblock %}
{% block head %}
<meta name="description" content="Password recovery">
{% endblock %}

{% block content %}
<div>

<h1 class="title"><strong>{% trans "Lost your password?" %}</strong> {% trans "What kind of rat are you?" %}</h1>
{% for field in form %}
  {% if forloop.first %}
    <form class="log-reg-form" method="post" action=".">{% csrf_token %}
  {% endif %}
  {{ field.errors }}
  <label class="control-label">{{ field.label }}</label>
  <input name="email" type="email" maxlength="75">
  {% if forloop.last %}
    <fieldset>
      <input class="btn btn-primary" type="submit" value="{% trans "Reset password" %}">
    </fieldset>
    </form>
  {% endif %}
{% endfor %}
</div><!-- .span9 -->
{% endblock %}
