<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1" />
	<title>Mailing Worldrat</title>
</head>
<body>  	
	<div lang="en" style="min-width:800px;width:800px;margin-top:0px;margin-right:0px;margin-bottom:0px;margin-left:0px;padding-top:0px;padding-right:0px;padding-bottom:0px;padding-left:0px;background-image:url('{{ STATIC_PREFIX }}/mails/city_manhattan1.jpg');background-repeat:no-repeat!important;background-color:rgb(247,245,245);background-repeat:repeat repeat">
		<p align="center"><a align="center" href="www.worldrat.com" title="Visit Worldrat.com" style="border-top-style:none;border-right-style:none;border-bottom-style:none;border-left-style:none;border-width:initial;border-color:initial" target="_blank"><img src="{{ STATIC_PREFIX }}/mails/logoWorldrat.png" width="203" height="68" alt="Be a Worldrat" style="margin:40px;outline-style:none;outline-width:initial;outline-color:initial;border-top-style:none;border-right-style:none;border-bottom-style:none;border-left-style:none;border-width:initial;border-color:initial" /></a></p>

<table style="border-collapse:collapse" border="1" align="center" bordercolor="#ccc" >
<tr>
	<td colspan="2"><a href="{{ destination_url }}"><img style="padding-top:30px" src="{{ STATIC_PREFIX }}/mails/register_today.png" /></a></td>
</tr>
</table>
<table>
<tr>
	<td style="font-family:Helvetica,Arial,san-seriff;font-size:25px;padding:20px">Hey there!</td>
	<td rowspan="2" style="border-left:1px solid #ccc;padding-left:20px;width:150px;vertical-align:top;padding-top:20px"><img src="{{ STATIC_PREFIX }}/mails/wayra.png" /><p style="font-family:Helvetica,Arial,san-serif;font-size:13px">Worldrat is a Wayra startup<br /><br />Wayra is a startup hub from Telefonica, the fifth largest telco group in the world. Worldrat was one of the 10 winning projects in the first edition of Wayra Peru.</p></td>
</tr>
<tr>
	<td style="font-family:Helvetica,Arial,san-serif;font-size:15px;vertical-align:top;padding-top:20px;padding-left:20px;padding-right:20px">We've launched! Time to prove you're a worldrat. Sign up today to create, discover and share places all over the world!<br /><br />
To register click the image above or the link below:<br /><br />
{{ destination_url }} <br /><br />
We hope to see you soon!<br /></br /><br />
<strong>--The Worldrat team </strong><br /><br /><br />
</td>
</tr>
</body>
</html>
