<tr>
  <td align="center" style="border-collapse:collapse;padding-top:20px;padding-right:0px;padding-bottom:40px;padding-left:0px">
    <a href="www.worldrat.com" title="Visit Worldrat.com" style="border-top-style:none;border-right-style:none;border-bottom-style:none;border-left-style:none;border-width:initial;border-color:initial" target="_blank"><img src="{{ STATIC_PREFIX }}/mails/logoWorldrat.png" width="203" height="68" alt="Be a Worldrat" style="vertical-align:top;outline-style:none;outline-width:initial;outline-color:initial;border-top-style:none;border-right-style:none;border-bottom-style:none;border-left-style:none;border-width:initial;border-color:initial"></a>
  </td>
</tr>
