<table style="margin-top:30px" cellspacing="0" cellpadding="0" border="0" align="center">
  <tr>
    <td width="100" align="right" style="border-collapse:collapse;font-family:'helvetica neue',helvetica,arial,sans-serif;font-size:12px;color:rgb(140,126,126);text-shadow:rgb(255,255,255) 0px 1px 0px">
      <a href="https://www.facebook.com/worldrat#" title="Like Worldrat on Facebook" style="color:rgb(140,126,126);text-decoration:none;text-shadow:rgb(255,255,255) 0px 1px 0px" target="_blank">Like us</a>
    </td>
    <td style="border-collapse:collapse;padding-top:0px;padding-right:10px;padding-bottom:0px;padding-left:10px">
      <a href="https://www.facebook.com/worldrat#" title="Like Worldrat on Facebook" target="_blank"><img src="{{ STATIC_PREFIX }}/mails/facebook.png" width="40" height="39" style="vertical-align:top;outline-style:none;outline-width:initial;outline-color:initial;border-top-style:none;border-right-style:none;border-bottom-style:none;border-left-style:none;border-width:initial;border-color:initial"></a>
    </td>
    <td style="border-collapse:collapse;padding-top:0px;padding-right:10px;padding-bottom:0px;padding-left:10px">
      <a href="https://www.twitter.com/worldrat" title="Follow us on Twitter" target="_blank"><img src="{{ STATIC_PREFIX }}/mails/twitter.png" width="40" height="33" style="vertical-align:top;outline-style:none;outline-width:initial;outline-color:initial;border-top-style:none;border-right-style:none;border-bottom-style:none;border-left-style:none;border-width:initial;border-color:initial"></a>
    </td>
    <td width="100" align="left" style="border-collapse:collapse;font-family:'helvetica neue',helvetica,arial,sans-serif;font-size:12px;color:rgb(140,126,126);text-shadow:rgb(255,255,255) 0px 1px 0px">
      <a href="https://twitter.com/worldrat" title="Follow us on Twitter" style="color:rgb(140,126,126);text-decoration:none;text-shadow:rgb(255,255,255) 0px 1px 0px" target="_blank">Follow us</a>
    </td>
  </tr>
</table>

<table style="margin-top:30px" cellspacing="0" cellpadding="0" border="0" align="center">
  <tr>
    <td align="center" style="border-collapse:collapse">
      <div style="font-family:'helvetica neue',helvetica,arial,sans-serif;font-size:10px;color:rgb(153,153,153);text-shadow:rgb(255,255,255) 0px 1px 0px;line-height:1.35em;margin-top:0px;margin-right:0px;margin-bottom:0px;margin-left:0px;padding-top:0px;padding-right:0px;padding-bottom:0px;padding-left:0px">
	<span>&copy;</span>2012 Wordlrat <span>&nbsp;</span><font style="color:rgb(170,170,170);padding-top:0px;padding-right:2px;padding-bottom:0px;padding-left:2px">|</font><span>&nbsp;</span>All Rights Reserved.<br>
	<a href="" style="color:rgb(153,153,153);text-decoration:underline;text-shadow:rgb(255,255,255) 0px 1px 0px" target="_blank">Privacy Policy</a><span>&nbsp;</span><font style="color:rgb(170,170,170);padding-top:0px;padding-right:2px;padding-bottom:0px;padding-left:2px">|</font><span>&nbsp;</span><a href="" style="color:rgb(153,153,153);text-decoration:underline;text-shadow:rgb(255,255,255) 0px 1px 0px" target="_blank">Terms and Conditions</a>
      </div>
    </td>
  </tr>
</table>
