{% load url from future %}
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1" />
	<title>Mailing Worldrat</title>
</head>
<body>
	<div lang="en" style="min-width:800px;width:800px;margin-top:0px;margin-right:0px;margin-bottom:0px;margin-left:0px;padding-top:0px;padding-right:0px;padding-bottom:0px;padding-left:0px;background-image:url('{{ STATIC_PREFIX }}/mails/city_vancouver.jpg');background-repeat:no-repeat!important;background-color:rgb(247,245,245);background-repeat:repeat repeat">
		<p align="center"><a align="center" href="www.worldrat.com" title="Visit Worldrat.com" style="border-top-style:none;border-right-style:none;border-bottom-style:none;border-left-style:none;border-width:initial;border-color:initial" target="_blank"><img src="{{ STATIC_PREFIX }}/mails/logoWorldrat.png" width="203" height="68" alt="Be a Worldrat" style="margin:40px;outline-style:none;outline-width:initial;outline-color:initial;border-top-style:none;border-right-style:none;border-bottom-style:none;border-left-style:none;border-width:initial;border-color:initial"></a></p>

							<h1 align="center" style="font-family:Helvetica,Arial,san-serif;font-weight:normal;font-size:30px;line-height:21px;color:rgb(33,25,34)!important;text-shadow:rgb(255,255,255) 0px 1px 0px;margin-top:50px;margin-right:0px;margin-bottom:0px;margin-left:0px;padding-top:0px;padding-right:20px;padding-bottom:0px;padding-left:20px">
                Hi, {{ user.get_full_name }}!</h1><br /><br />
              <p>You're receiving this e-mail because you requested a password reset for your user account at {{ site_name }}.com.<br /><br /> 

Please go to the following page and choose a new password:<br /> 

{% block reset_link %}
{{ protocol }}://{{ domain }}{% url 'auth_password_reset_confirm' uidb36=uid  token=token %}
{% endblock %}
<br /><br />

Your username, in case you've forgotten: {{ user.username }}<br /><br /> 

Thanks for using our site!<br /> 

The {{ site_name }} team
</body>
</html>
