
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html" />
  <meta charset="utf-8" />
	<title>Mailing Worldrat</title>
</head>
<body>	
<span style="border-collapse:separate;font-family:Helvetica;font-style:normal;font-variant:normal;font-weight:normal;letter-spacing:normal;line-height:normal;text-align:-webkit-auto;text-indent:0px;text-transform:none;white-space:normal;word-spacing:0px;font-size:medium">

	<div lang="en" style="min-width:800px;width:800px;margin-top:0px;margin-right:0px;margin-bottom:0px;margin-left:0px;padding-top:0px;padding-right:0px;padding-bottom:0px;padding-left:0px;background-image:url('{{ STATIC_PREFIX }}/mails/city_chicago.jpg');background-repeat:no-repeat!important;background-color:#f7f7f7;background-repeat:repeat repeat">
	<table cellspacing="0" cellpadding="0" border="0" width="100%">
	<tbody>
	<tr>
		<td style="border-collapse:collapse">
			<img width="0" height="0">
			<table cellspacing="0" cellpadding="0" border="0" align="center" width="700">

			<tbody>
				<tr>
					<td style="border-collapse:collapse">
						<img width="0" height="0">
						<table cellspacing="0" cellpadding="0" border="0" align="center" width="700">
							<tbody>
								<tr>
									<td align="center" style="border-collapse:collapse;padding-top:20px;padding-right:0px;padding-bottom:40px;padding-left:0px">
										<a href="www.worldrat.com" title="Visit Worldrat.com" style="border-top-style:none;border-right-style:none;border-bottom-style:none;border-left-style:none;border-width:initial;border-color:initial" target="_blank"><img src="{{ STATIC_PREFIX }}/mails/logoWorldrat.png" width="203" height="68" alt="Be a Worldrat" style="vertical-align:top;outline-style:none;outline-width:initial;outline-color:initial;border-top-style:none;border-right-style:none;border-bottom-style:none;border-left-style:none;border-width:initial;border-color:initial"></a>
									</td>
								</tr>
								<tr>
									<td align="center" style="border-collapse:collapse">
										<table cellspacing="0" cellpadding="0" border="0" align="center">
											<tbody>
												<tr>
													<td style="border-collapse:collapse">
														<h1 style="font-family:Helvetica,Arial,san-serif;font-weight:normal;font-size:35px;line-height:21px;color:rgb(33,25,34)!important;text-shadow:rgb(255,255,255) 0px 1px 0px;margin-top:60px;margin-right:0px;margin-bottom:30px;margin-left:0px;padding-top:0px;padding-right:20px;padding-bottom:0px;padding-left:20px">
															Hi <strong>{{ user.get_full_name }}!</strong>
														</h1>
													</td>
												</tr>
												<tr>
													<td>
														<table>
															<tr>
																<td align="center" style="border-collapse:collapse">
																	<h2 style="font-weight:normal;margin-bottom:40px">Welcome to a <strong>new way </strong>of <strong>knowing </strong> any city in the world. <strong>Create, discover </strong>and <strong>share </strong>any <strong>routes </strong> you like!</h2>
																</td>
															</tr>
														</table>
													</td>
												</tr>
				  								<tr>
				  									<td>
														<table cellspacing="0" cellpadding="3" border="0" align="center">
															<tr>
																<td>
																	<article style="width:188px !important;font-size:14px;color:#222;font-family:Helvetica,Arial,sans-serif;line-height:18px;box-sizing:border-box;top:0px;left:0px;width:305px;visibility:visible;display:block" >
	     																<div style="position:relative;margin:0 0 14px;padding:10px;background:white;border:1px solid #CCC;border-radius:6px;box-shadow:0 1px 2px rgba(0, 0, 0, .2);box-sizing:border-box;diplay:block;visibility:visible;font-size:14px;color:#222;font-family:Helvetica,Arial,san-serif;line-height:18px">
																			<a style="line-height:18px;font-family:Helvetica,Arial,san-serif;visibility:visible;box-sizing:border-box;cursor:pointer;position:absolute;top:9px;left:10px;border-radius:0 0 5px;text-transform:uppercase;font-size:10px;background:black;color:white;padding:4px 10px;text-decoration:none" href="http://www.worldrat.com/routes/routes/2079/berlin-for-hipsters/">Tourism</a>       
			  																<figure style="width:100%;margin:0px !important;display:block;min-height:30px;margin:0;visibility:visible;font-size:14px;color:#222;font-family:Helvetica,Arial,sans-serif;line-height:18px">
			  																	<a style="cursor:pointer;text-decoration:underline;color:black;box-sizing:border-box;visibility:visible;font-size:14px;font-family:Helvetica,Arial,sans-serif;line-height:18px" href="http://www.worldrat.com/routes/2079/berlin-for-hipsters/">
			  																		<img style="-webkit-transition:linear 0.3s;-webkit-transition-property:top,left,width,height;transition:linear 0.3s;transition-property:top,left,width,height;text-indent:-9999em;background-size:cover;background-repeat:no-repeat;width:100%;vertical-align:middle;border:0;box-sizing:border-box" src="{{ STATIC_PREFIX }}/mails/hipster.png" title="Your loved route!" />
			  																	</a> 		
																			</figure>
																			<div style="margin-top:10px;box-sizing:border-box;display:block;visibility:visible;font-size:14px;color:#222;font-family:Helvetica,Arial,sans-serif;line-height:18px">
																				<h2 style="line-height:1.15;font-family:Helvetica,Arial,san-serif;font-weight:normal;font-size:24px;margin:0;color:inherit;text-rendering:optimizelegibility;box-sizing:border-box;display:block;visibility:visible">
																					<a style="text-decoration:none;cursor:pointer;color:black;box-sizing:border-box;line-height:1.15;font-family:Helvetica,Arial,sans-serif;font-weight:normal;font-size:18px;visibility:visible" href="http://www.worldrat.com/routes/2079/berlin-for-hipsters/">Berlin for Hipsters</a>
																				</h2>
																				<p style="font-size:11px;margin:5px 0 0 0;line-height:1.38;box-sizing:border-box;display:block">by <a style="cursor:pointer;text-decoration:underline;color:black;box-sizing:border-box" href="http:///www.worldrat.com/users/1381/circuits/">deemeetree</a></p>

																				<p style="color:#666;font-size:9px;margin:0px 0 0px 0;display:inline-block;line-height:1.38;box-sizing:border-box">(3 places)</p>
																				<div style="margin-top:10px;box-sizing:border-box;display:block">
																					<div style="font-size:11px;line-height:1.4;color:black;box-sizing:border-box;display:block">
																						<p style="box-sizing:border-box;display:block">Yes, this is the ultimate guide to Berlin for people who think they are cool and a bit artsy.</p>
																					</div>
																				</div>
																			</div>
																		</div>
																	</article>	 
																</td>

																<td>
																	<article style="width:188px !important;font-size:14px;color:#222;font-family:Helvetica,Arial,sans-serif;line-height:18px;padding:0px;box-sizing:border-box;top:0px;left:0px;width:305px;visibility:visible;display:block">
	     																<div style="position:relative;margin:0 0 14px;padding:10px;background:white;border:1px solid #CCC;border-radius:6px;box-shadow:0 1px 2px rgba(0, 0, 0, .2);box-sizing:border-box;diplay:block;visibility:visible;font-size:14px;color:#222;font-family:Helvetica,Arial,san-serif;line-height:18px">
																			<a style="line-height:18px;font-family:Helvetica,Arial,san-serif;visibility:visible;box-sizing:border-box;cursor:pointer;position:absolute;top:9px;left:10px;border-radius:0 0 5px;text-transform:uppercase;font-size:10px;background:black;color:white;padding:4px 10px;text-decoration:none" href="http://www.worldrat.com/routes/1464/prague-nightlife">Nightlife</a>       
			  																<figure style="width:100%;margin:0px !important;display:block;min-height:30px;margin:0;visibility:visible;font-size:14px;color:#222;font-family:Helvetica,Arial,sans-serif;line-height:18px">
			 																	<a style="cursor:pointer;text-decoration:underline;color:black;box-sizing:border-box;visibility:visible;font-size:14px;font-family:Helvetica,Arial,sans-serif;line-height:18px" href="http://www.worldrat.com/routes/1464/prague-nightlife"><img style="-webkit-transition:linear 0.3s;-webkit-transition-property:top,left,width,height;transition:linear 0.3s;transition-property:top,left,width,height;text-indent:-9999em;background-size:cover;background-repeat:no-repeat;width:100%;vertical-align:middle;border:0;box-sizing:border-box" src="{{ STATIC_PREFIX }}/mails/prague.jpg" title="Your loved route!" /></a> 		
																			</figure>
																			<div style="margin-top:10px;box-sizing:border-box;display:block;visibility:visible;font-size:14px;color:#222;font-family:Helvetica,Arial,sans-serif;line-height:18px">
																				<h2 style="line-height:1.15;font-family:Helvetica,Arial,san-serif;font-weight:normal;font-size:24px;margin:0;color:inherit;text-rendering:optimizelegibility;box-sizing:border-box;display:block;visibility:visible">
																					<a style="text-decoration:none;cursor:pointer;color:black;box-sizing:border-box;line-height:1.15;font-family:Helvetica,Arial,sans-serif;font-weight:normal;font-size:18px;visibility:visible" href="http://www.worldrat.com/routes/1464/prague-nightlife/">Prague Nightlife</a>
																				</h2>
																				<p style="font-size:11px;margin:5px 0 0 0;line-height:1.38;box-sizing:border-box;display:block">by <a style="cursor:pointer;text-decoration:underline;color:black;box-sizing:border-box" href="http:///www.worldrat.com/users/891/circuits/">radiance</a></p>
																				<p style="color:#666;font-size:9px;margin:0px 0 0px 0;display:inline-block;line-height:1.38;box-sizing:border-box">(10 places)</p>
																				<div style="margin-top:10px;box-sizing:border-box;display:block">
																					<div style="font-size:11px;line-height:1.4;color:black;box-sizing:border-box;display:block">
																						<p style="box-sizing:border-box;display:block">There's a fun, wild, cheap nightlife in Prague if you're interested in five story nightclubs or late night fried cheese sandwiches. Cover charges are non existent or cheap in USD, and even at the nicest places they'll let you in with nice jeans and nice sneakers. Czechs tend to like 80s music and beer and house music, but if you're homesick for hip hop or a lover of tequila, you can still find.</p>
																					</div>
																				</div>
																			</div>
																		</div>
																	</article>
																</td>

					
																<td>
																	<article style="width:188px !important;font-size:14px;color:#222;font-family:Helvetica,Arial,sans-serif;line-height:18px;padding:0px;box-sizing:border-box;top:0px;left:0px;width:305px;visibility:visible;display:block">
	     																<div style="position:relative;margin:0 0 14px;padding:10px;background:white;border:1px solid #CCC;border-radius:6px;box-shadow:0 1px 2px rgba(0, 0, 0, .2);box-sizing:border-box;diplay:block;visibility:visible;font-size:14px;color:#222;font-family:Helvetica,Arial,san-serif;line-height:18px">
																			<a style="line-height:18px;font-family:Helvetica,Arial,san-serif;visibility:visible;box-sizing:border-box;cursor:pointer;position:absolute;top:9px;left:10px;border-radius:0 0 5px;text-transform:uppercase;font-size:10px;background:black;color:white;padding:4px 10px;text-decoration:none" href="http://www.worldrat.com/routes/2488/chicago-farmers-markets-amp-urban-farms/">Lifestyle</a>       
			  																<figure style="width:100%;margin:0px !important;display:block;min-height:30px;margin:0;visibility:visible;font-size:14px;color:#222;font-family:Helvetica,Arial,sans-serif;line-height:18px">
			 																	<a style="cursor:pointer;text-decoration:underline;color:black;box-sizing:border-box;visibility:visible;font-size:14px;font-family:Helvetica,Arial,sans-serif;line-height:18px" href="http://www.worldrat.com/routes/2488/chicago-farmers-markets-amp-urban-farms/"><img style="-webkit-transition:linear 0.3s;-webkit-transition-property:top,left,width,height;transition:linear 0.3s;transition-property:top,left,width,height;text-indent:-9999em;background-size:cover;background-repeat:no-repeat;width:100%;vertical-align:middle;border:0;box-sizing:border-box" src="{{ STATIC_PREFIX }}/mails/farmers_market.jpg" title="Your loved route!" /></a> 		
																			</figure>
																			<div style="margin-top:10px;box-sizing:border-box;display:block;visibility:visible;font-size:14px;color:#222;font-family:Helvetica,Arial,sans-serif;line-height:18px">
																				<h2 style="line-height:1.15;font-family:Helvetica,Arial,san-serif;font-weight:normal;font-size:24px;margin:0;color:inherit;text-rendering:optimizelegibility;box-sizing:border-box;display:block;visibility:visible">
																					<a style="text-decoration:none;cursor:pointer;color:black;box-sizing:border-box;line-height:1.15;font-family:Helvetica,Arial,sans-serif;font-weight:normal;font-size:18px;visibility:visible" href="http://www.worldrat.com/routes/2488/chicago-farmers-markets-amp-urban-farms/">Chicago Farmers Markets & Urban Farms</a>
																				</h2>
																				<p style="font-size:11px;margin:5px 0 0 0;line-height:1.38;box-sizing:border-box;display:block">by <a style="cursor:pointer;text-decoration:underline;color:black;box-sizing:border-box" href="http:///www.worldrat.com/users/333/circuits/">DVhxx4rX4Bg</a></p>
																				<p style="color:#666;font-size:9px;margin:0px 0 0px 0;display:inline-block;line-height:1.38;box-sizing:border-box">(7 places)</p>
																				<div style="margin-top:10px;box-sizing:border-box;display:block">
																					<div style="font-size:11px;line-height:1.4;color:black;box-sizing:border-box;display:block">
																						<p style="box-sizing:border-box;display:block">Chicago is sustainable organic psyched. Notable chefs & restaurants support our farmers markets. Green City Market is the jewel for its scope, frequency & gorgeous location along the lakefront. Neighborhood markets have equally rich offerings. Urban Farms are creating jobs.</p>
																					</div>
																				</div>
																			</div>
																		</div>
																	</article>
																</td>
															</tr>
														</table>
													</td>
												</tr>
											</tbody>
										</table>
								</tr>
							</tbody>
						</table>
					</td>
				</tr>
				<tr>
					<td>
						<table style="margin-top:30px" cellspacing="0" cellpadding="0" border="0" align="center">
							<tbody>
								<tr>
									<td width="100" align="right" style="border-collapse:collapse;font-family:'helvetica neue',helvetica,arial,sans-serif;font-size:12px;color:rgb(140,126,126);text-shadow:rgb(255,255,255) 0px 1px 0px">
												<a href="https://www.facebook.com/worldrat#" title="Like Worldrat on Facebook" style="color:rgb(140,126,126);text-decoration:none;text-shadow:rgb(255,255,255) 0px 1px 0px" target="_blank">Like us</a>
									</td>
									<td style="border-collapse:collapse;padding-top:0px;padding-right:10px;padding-bottom:0px;padding-left:10px">
												<a href="https://www.facebook.com/worldrat#" title="Like Worldrat on Facebook" target="_blank"><img src="{{ STATIC_PREFIX }}/mails/facebook.png" width="40" height="39" style="vertical-align:top;outline-style:none;outline-width:initial;outline-color:initial;border-top-style:none;border-right-style:none;border-bottom-style:none;border-left-style:none;border-width:initial;border-color:initial"></a>
									</td>
									<td style="border-collapse:collapse;padding-top:0px;padding-right:10px;padding-bottom:0px;padding-left:10px">
												<a href="https://www.twitter.com/worldrat" title="Follow us on Twitter" target="_blank"><img src="{{ STATIC_PREFIX }}/mails/twitter.png" width="40" height="33" style="vertical-align:top;outline-style:none;outline-width:initial;outline-color:initial;border-top-style:none;border-right-style:none;border-bottom-style:none;border-left-style:none;border-width:initial;border-color:initial"></a>
									</td>
									<td width="100" align="left" style="border-collapse:collapse;font-family:'helvetica neue',helvetica,arial,sans-serif;font-size:12px;color:rgb(140,126,126);text-shadow:rgb(255,255,255) 0px 1px 0px">
												<a href="https://twitter.com/worldrat" title="Follow us on Twitter" style="color:rgb(140,126,126);text-decoration:none;text-shadow:rgb(255,255,255) 0px 1px 0px" target="_blank">Follow us</a>
									</td>
								</tr>
							</tbody>
						</table>
					</td>
				</tr>
				
				<tr>
					<td>
						<table style="margin-top:30px" cellspacing="0" cellpadding="0" border="0" align="center">
							<tr>
								<td align="center" style="border-collapse:collapse">
									<div style="font-family:'helvetica neue',helvetica,arial,sans-serif;font-size:10px;color:rgb(153,153,153);text-shadow:rgb(255,255,255) 0px 1px 0px;line-height:1.35em;margin-top:0px;margin-right:0px;margin-bottom:0px;margin-left:0px;padding-top:0px;padding-right:0px;padding-bottom:0px;padding-left:0px">
										<span>&copy;</span>2012 Wordlrat <span>&nbsp;</span><font style="color:rgb(170,170,170);padding-top:0px;padding-right:2px;padding-bottom:0px;padding-left:2px">|</font><span>&nbsp;</span>All Rights Reserved.<br>
										<a href="" style="color:rgb(153,153,153);text-decoration:underline;text-shadow:rgb(255,255,255) 0px 1px 0px" target="_blank">Privacy Policy</a><span>&nbsp;</span><font style="color:rgb(170,170,170);padding-top:0px;padding-right:2px;padding-bottom:0px;padding-left:2px">|</font><span>&nbsp;</span><a href="" style="color:rgb(153,153,153);text-decoration:underline;text-shadow:rgb(255,255,255) 0px 1px 0px" target="_blank">Terms and Conditions</a>
									</div>
								</td>
							</tr>			
						</table>
					</td>
				</tr>

			</tbody>
		</table>
	</div>
</span>
</body>
</html>




		
