<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="shortcut icon" type="image/x-icon" href="/static/favicon.ico">
<script src="/static/js/libs.min.js"></script>
<link rel="stylesheet" href="/static/css/core.min.css"/>
<!--[if lte IE 7]><link rel="stylesheet" href="/static/css/ie7.min.css"/><![endif]-->
<title>500, rat</title>
</head>
<h1>500</h1>
<div class="alert alert-info">
<p>We're not sure <strong>what happened</strong> here.</p>
<p class="call-to-action">In the meantime let me tell you a little story:<br> <a href="http://twitter.com/gnrfan">@gnrfan</a> fixed a terrible bug while <a href="/static/images/gnrfan.png">sleeping under a table</a> at the <a href="http://www.wayra.org">Wayra academy</a> in Lima, Peru. Somehow he managed to telepathically communicate the fix for the bug to <a href="http://twitter.com/hansyschmitt">@hansyschmitt</a> who finally made it work.</p>
</div>
