{% extends "layouts/base.html" %}

{% block title %}Worldrat, Urban Exploration | Request an invitation{% endblock %}

{% block content %}
<h1 class="title">Request an <strong>Invite</strong></h1>
<form class="log-reg-form" action="." method="POST">
{% csrf_token %}
<p>We'll send you an invitation to be part of Worldrat! </p>
{% for field in form %}
    {{ field.non_field_errors}}
    <label class="control-label">{{ field.label }}</label>
    {{ field }} 
    <fieldset>
      <input class="btn btn-primary" type="submit" value="Request invitation">
      <a class="pull-right" href="{% url registration_register_company %}">Need an account for your company?</a>
    </fieldset>
{% endfor %}
</form>
{% endblock %}
